<div class="page-3">
	<h1>Page 3</h1>
	<div>
		<button type="button" onClick("handlePage1Click")>Page 1</button>
		<button type="button" onClick("handlePage2Click")>Page 2</button>
		<button type="button" disabled>Page 3</button>
	</div>
</div>
