<div class="page-2">
	<h1>Page 2</h1>
	<div>
		<button type="button" onClick("handlePage1Click")>Page 1</button>
		<button type="button" disabled>Page 2</button>
		<button type="button" onClick("handlePage3Click")>Page 3</button>
	</div>
</div>
