<div>
	<h1>Page 2</h1>
	<div>
		<div>
			<strong>name:</strong> ${state.name}
		</div>
		<div>
			<strong>surname:</strong> ${state.surname}
		</div>
		<if(state.errorMessage)>
			<p>${state.errorMessage}</p>
		</if>
	</div>
	<div>
		<button type="button" onClick("handlePage1Click")>Page 1</button>
		<button type="button" disabled>Page 2</button>
		<button type="button" onClick("handlePage3Click")>Page 3</button>
	</div>
</div>
