<div>
	<h1>Page 4</h1>
	<div>
		<div>
			<strong>name:</strong> ${state.name}
		</div>
		<div>
			<strong>surname:</strong> ${state.surname}
		</div>
	</div>
	<div>
		<button type="button" onClick("handlePage1Click")>Page 1</button>
	</div>
</div>
