<div key="my-header">
	This is my header
	<button type="button" disabled=state.isRootSelected onClick("onRootClick")>Root</button> <button type="button" disabled=state.isAuthSelected onClick("onAuthClick")>Auth</button>
</div>
